@import url(animation.css);
h1, h2, h3{
    margin:0px;
}

::-webkit-scrollbar {
    width: 0px;
}

html{
    background-image: url("images/background.webp");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.sideways{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
    min-height:700px;
}

#items{
    display: flex;
    flex-direction:column;
    width: fit-content;
    margin-bottom: 10px;
}

#content{
    border: 2px black solid;
    border-radius: 20px;
    width:50%;
    height:550px;
    overflow-y:scroll;
    padding: 10px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.863);
}

.test_button{
    width:fit-content;
    height:fit-content;
    padding:2px;
    border-radius: 10px;
    border: 2px black solid;
    font-size: larger;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.671);
}

.test_button:hover{
    cursor: pointer;
}

.content_change{
    animation: content_change 1s linear;
}

#head{
    position: absolute;
    opacity:0%;
}

.opacity_change {
    animation: opacity_change 0.1s linear;
}

footer{
    position: relative;
    bottom:0px;
    width:fit-content;
    padding:10px;
    border-radius: 20px;
    background-color: rgba(255, 162, 162, 0.753);
}

#delete {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    transform: scale(1);
    transition: transform 0.1s;
}

#delete:hover {
    transform: scale(1.03);
}

#delete:active {
    transform: scale(0.9);
}